@import "tailwindcss";

@font-face {
    font-family: lausanne-sm;
    src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: lausanne-lg;
    src: url(../public/fonts/Lausanne-500.woff2);
}

body {
    background-color: black;
}

::selection {
  background: #8df548;
  color: white;
}