@import "tailwindcss";



@font-face {
    font-family: lausanne-sm;
    src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: lausanne-lg;
    src: url(../public/fonts/Lausanne-500.woff2);
}
:root{
    --primary-hover : #d3fd50;
}


::selection {
  background: #d3fd50;
  color: white;
}

.moveX {
  width: max-content;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}